.fondo{
    margin: 0;
    padding: 0;
    background-color: $col-3;
}
.contenedor{
    margin: 28px;
}
// barra-navegacion
.nave{
    background-color: $col-1;
    .nav-link{
    color: $col-4;
        &:hover{
            color: $col-2;
        }
    }
    .navbar-toggler-icon{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    .logo{
        font-size: 0.9rem;
        display: block;
    }
}
// inicio
.flex{
    display: flex;
    @include pc-grande{
        display: block;
        text-align: center;
    }
}
.sobre-nosotros{
    @include pc-grande{
        display: block;
    }
    max-width: 756px;
    margin: auto;
    .titulo{
        color: $col-2;
        margin-left: 28px;
        @include pc-grande{
            margin-top: 28px;
            margin-left: 0px;
        }
    }
    .subtitulo{
        color: $col-2;
        margin-left: 28px;
        @include pc-grande{
            margin-left: 0px;
        }
    }
    .parrafo{
        color: $col-2;
        margin-left: 28px;
        @include pc-grande{
            margin-left: 0px;
        }
    }
}
// servicios
.servicios{
    position: relative;
    overflow: hidden;
    height: 500px;
    margin-top: 28px;
    &:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        background-image: url('../img/img2.png');
        background-position: center;
        background-size: cover;
    }
    .titulo-s{
        position: relative;
        z-index: 1;
        color: $col-4;
        text-align: center;
        margin-top: 50px;
    }
    .subtitulo-s{
        position: relative;
        z-index: 1;
        color: $col-4;
        text-align: center;
        font-size: 1rem;
    }
    .parrafo-s{
        position: relative;
        z-index: 1;
        color: $col-4;
        text-align: center;
        margin: 0 28px;
        font-size: 1rem;
    }
}
.servicios2{
    margin-top: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    background-color: $col-1;
    @include pc-grande{
        display: block;
        text-align: center;
    }
}
.servicios2-texto{
    max-width: 700px;
    @include pc-grande{
        margin: auto;
    }
    .titulo-s2{
        color: $col-2;
        margin: 15px 28px;
    }
    .subtitulo-s2{
        color: $col-2;
        margin: 10px 28px;
    }
    .parrafo-s2{
        color: $col-2;
        margin: 10px 28px;
        padding-bottom: 28px;
    }
}
// trabajos
.titulo-t{
    text-align: center;
    color: $col-2;
    margin-top: 28px;
}
.parrafo-t{
    text-align: center;
    color: $col-2;
}
.img{
    margin: 14px 0;
}
// contacto
.contacto{
    margin-top: 14px;
    background-color: $col-1;
    display: flex;
    .datos-c{
        width: 50%;
        @include tablet1{
            width: 100%;
        }
    }
    @include tablet1{
        display: block;
    }
    .titulo-c{
        text-align: center;
        padding-top: 28px;
        color: $col-2;
    }
    .parrafo-c{
        text-align: center;
        color: $col-2;
        margin: 28px;
    }
    .parrafo-c1{
        text-align: center;
        color: $col-2;
        margin: 10px;
    }
    .formulario-c{
        margin: 28px;
        flex-grow: 1;
        .datos{
            color: $col-2;
        }
        .inputs{
            width: calc(100% - 72px);
            border: $col-1;
            background-color: $col-1;
            color: $col-2;
            &::-webkit-inner-spin-button,
            ::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
        .linea-c{
            background-color: $col-2;
        }
        .enviar{
            margin-left: calc(50% - 25.43px);
            margin-top: 10px;
            font-size: 1.2rem;
            @include tablet1{
                margin-bottom: 20px;
            }
        }
    }
}
// pie de pagian
.derechos1{
    color: $col-2;
    text-align: center;
    margin-top: 20px;
}
.derechos2{
    color: $col-2;
    text-align: center;
    margin-top: -15px;
}
// boton subir
.subir{
    z-index: 2;
    position: fixed;
    right: 12px;
    bottom: 20px;
    text-decoration: none;
    color: $col-4;
    font-size: 2.5rem;
    &:hover{
        color: $col-2;
    }
}
// boton whatsapp
.whatsapp{
    z-index: 2;
    position: fixed;
    right: 10px;
    bottom: 70px;
    text-decoration: none;
    color: #25d366;
    font-size: 2.5rem;
    &:hover{
        color: $col-4;
    }
}